<div id="article" class="gry-article"></div>
<div class="gry-write-control">
    <div class="gry-header gry-hiding-container">
        <div id="article-hint" class="gry-hint">{{hint}}</div>
    </div>
    <div class="gry-content">
        <div class="gry-button-bar">
            <button title="{{value.name}}"
                    data-ng-class="{'vt-btn vt-active': currentCategory == key, 'vt-btn': currentCategory != key}"
                    data-ng-repeat="(key, value) in article.itemCategories"
                    data-ng-click="category(key)">{{value.name}}</button>
        </div>
        <div class="gry-type-area">
            <textarea autofocus data-gry-typebox></textarea>
        </div>
        <div class="gry-nav-area">

        </div>
    </div>
</div>
