<div gry-key-commands handler="writeArticle.keyCommandHandler" class="gry-article-container">
    <div id="gry-article" class="gry-article"></div>
    <div class="gry-write-control">
        <div gry-footnote></div>
        <div class="gry-header gry-hiding-container">
            <div id="article-hint" class="gry-hint">{{ writeArticle.hint }}</div>
        </div>
        <div class="gry-content">
            <div class="gry-button-bar">
                <button title="{{ value.name }}"
                        ng-repeat="(key, value) in writeArticle.itemCategories"
                        ng-if="key !== 'text'"
                        ng-class="{'gry-btn gry-active': writeArticle.current.category === key, 'gry-btn': writeArticle.current.category !== key}"
                        ng-click="writeArticle.setCategory(key)"
                        ng-disabled="writeArticle.categoryDisabled(key)">{{value.name}}</button>
            </div>
            <div gry-title-type-area ng-if="writeArticle.current.category === 'title' || writeArticle.current.category === 'subtitle' || writeArticle.current.category === 'abstract'"></div>
            <div gry-item-type-area ng-if="writeArticle.current.category === 'header' || writeArticle.current.category === 'paragraph'"></div>
            <div gry-sidenote-type-area ng-if="writeArticle.current.category === 'sidenote'"></div>
            <div gry-source-type-area ng-if="writeArticle.current.category === 'source'"></div>
            <div class="gry-nav-area">
            </div>
        </div>
    </div>
</div>