.gry-sidenote {
  position: relative;
  width: 33.33%;
  min-height: 550px;
  float: right;
  padding: 10px;
  background-color: lighten($calm-blue, 50%);
  border-radius: 2px;
  opacity: 0;

  &.gry-hiding {
    @include transition(all 0.5s ease-out);
    opacity: 0;
  }

  &.gry-showing {
    @include transition(all 1s ease-out);
    opacity: 1;
  }

  .gry-sidenote-title {
    color: $calm-blue;
    text-align: left;
  }

  .gry-sidenote-text {
    margin-top: 10px;
    text-align: left;
  }
}