<div class="gry-home">
    <div data-ng-class="{'gry-home-flag': !about, 'gry-home-flag gry-hiding': about || articles}">
        <div data-ng-class="{'gry-stripe gry-black': !about && !articles, 'gry-stripe gry-black gry-hiding': about || articles}"></div>
        <div data-ng-class="{'gry-stripe gry-red': !about, 'gry-stripe gry-black gry-hiding': about || articles}"></div>
        <div data-ng-class="{'gry-stripe gry-gold': !about, 'gry-stripe gry-black gry-hiding': about || articles}"></div>
    </div>
    <div data-ng-class="{'gry-home-nav': !articles, 'gry-home-nav gry-hiding': articles && !about, 'gry-home-nav gry-hiding-fast': articles && !about}">
        <button class="gry-btn" title="{{toolTips.articles}}" data-ng-click="home('articles')">Articles</button>
        <button class="gry-btn" title="{{toolTips.signin}}" data-ng-click="home('signin')">Sign In</button>
        <button class="gry-btn" title="{{toolTips.about}}" data-ng-click="home('about')" data-ng-if="!about">About</button>
        <button class="gry-btn" title="{{toolTips.faq}}" data-ng-click="home('faq')" data-ng-if="about">Faq</button>
    </div>
    <div data-ng-class="{'gry-home-welcome': !about && !data && !articles, 'gry-home-welcome gry-showing': !about && data && !articles, 'gry-home-welcome gry-hiding': about || articles}">
        <span>{{data.welcome}}</span>
    </div>
    <div data-ng-class="{'gry-hiding-container': !about && !articles, 'gry-hiding-container gry-showing': about && !articles, 'gry-hiding-container gry-hiding-fast': articles}"
         data-ng-show="about">
        <div class="gry-home-about">
            <span>{{data.about}}</span>
        </div>
    </div>
    <div class="fa fa-search" style="display: none"></div>
</div>