@font-face {
  font-family: 'Reclaim';
  src: url('../../fonts/Reclaim.ttf.eot'),
  url('../../fonts/Reclaim.ttf.woff') format('woff'),
  url('../../fonts/Reclaim.ttf') format('truetype'),
  url('../../fonts/Reclaim.ttf.svg#Reclaim') format('svg');
  font-weight: normal;
  font-style: normal;
}