.gry-write-control {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 38.2%;
  max-width: 960px;
  background-color: #ddd;
  border-radius: 3px 3px 0 0;

  .gry-header {
    border-radius: 2px 2px 0 0;

    &.gry-hiding-container {
      overflow: hidden;
    }

    .gry-hint {
      font-family: $font-family-base;
      font-size: 0.9em;
      position: relative;
      top: 40px;

      &.gry-showing {
        top: 11px;

        @include animation-intro('hint 0.5s ease-out');
        @include keyframes('hint') {
          0% { top: 40px; }
          99% { top: 11px; }
        }
      }
    }
  }

  .gry-content {
    width: 100%;
    height: 100%;
    margin-top: $header-height;

    .gry-button-bar {
      width: 100%;
      background-color: $calm-blue;

      @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        max-width: 10%;
        min-width: 84px;
        height: 100%;
        float: left;
      }

      .vt-btn {
        width: 10%;
        padding: 5px 5px;
        color: $color-text-highlighted-on-darkest-background;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-color: #000;
        font-size: 0.9em;
        font-weight: bold;
        max-height: $button-height-write-control;

        @media only screen and (max-width: 800px) {
          width: 100%;
        }

        &.vt-active {
          color: #af8089;
          background-color: $bloody-red-darker;
          font-weight: normal;
        }
      }
    }

    .gry-type-area {
      width: 51.8%;
      height: 100%;
      float: left;

      > textarea {
        width: 100%;
        height: 80%;
        margin-left: 5px;
        margin-top: 1px;
        font-family: $font-family-base;
        font-size: 0.9em;
        outline: none;
      }
    }

    .gry-nav-area {
      width: 38.2%;
      height: 100%;
      float: left;
    }
  }
}